body {
    background-color: lightyellow;
    font-family: 'Handjet', cursive;
}

h1 {
    font-size: 100px;
    color: rgb(255, 153, 255);
    font-weight: bold;
    background-color: rgb(204, 255, 255);
}

p {
    font-size: 36px;
}

img {
    height: auto;
    width: 500px;
}

.link {
    font-size: 36px;
    color: rgb(102, 51, 0);
    display: inline-block;
}

.title {
    text-align: center;
    margin-top: 2em;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: auto;
    border-bottom: 1em dotted rgb(255, 153, 255);
}

.links {
    text-align: center;
    background-color: rgb(204, 255, 255);
    font-size: 1em;
    margin: 10px;
}

#link1, #link2, #link3 {
    border: 0.1em solid black;
    border-radius: 0.3em;
    background-color: rgb(230, 230, 230);
    font-size: 35px;
    margin: 10px;
    padding: 5px;
}