body {
    background-color: lightyellow;
    font-family: 'Handjet', cursive;
}

h1 {
    font-size: 100px;
    color: rgb(255, 153, 255);
    font-weight: bold;
    background-color: rgb(204, 255, 255);
}

p {
    font-size: 36px;
}

img {
    height: auto;
    width: 500px;
}
.link {
    font-size: 36px;
    color: rgb(102, 51, 0);
}